openapi: 3.0.3
info:
  title: Greenhouse Harvest Applications Graphql API
  description: The Harvest API provides programmatic access to Greenhouse Recruiting data, including candidates, applications, jobs, departments, offices, and users. Authentication uses HTTP Basic Auth with an API token.
  version: '1.0'
  contact:
    name: Greenhouse Developer Support
    url: https://developers.greenhouse.io/harvest.html
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
security:
- basicAuth: []
tags:
- name: Graphql
paths:
  /graphql:
    post:
      summary: Execute GraphQL query or mutation
      description: Single GraphQL endpoint supporting employee, employees, department, departments, location, locations, customField, customFields, team, teams, and rateLimit queries; and mutations including updateEmployeeProfile, addPendingHire, addDepartment, updateDepartment, deleteDepartment, addLocation, updateLocation, and deleteLocation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        '200':
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
      tags:
      - Graphql
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
