openapi: 3.2.0
info:
  title: Greenhouse Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-ingestion-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://api.greenhouse.io/v1/partner
  description: Production
tags:
- name: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: List users
      responses:
        '200':
          description: A list of users
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /users/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Users
      summary: Retrieve user
      responses:
        '200':
          description: A user
      security:
      - basicAuth: []
    patch:
      tags:
      - Users
      summary: Update user
      responses:
        '200':
          description: User updated
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /current_user:
    get:
      tags:
      - Users
      summary: Get current user
      responses:
        '200':
          description: Authenticated user details
      security:
      - basicAuth: []
      - oauth2: []
    servers:
    - url: https://api.greenhouse.io/v1/partner
      description: Production
components:
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.greenhouse.io/oauth/authorize
          tokenUrl: https://api.greenhouse.io/oauth/token
          scopes: {}
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-ingestion-openapi.yml
