openapi: 3.2.0
info:
  title: Greenhouse Onboarding Graph QL API
  description: 'The Greenhouse Onboarding (GHO) API is a single GraphQL endpoint exposing employee,

    department, location, custom field, and team data along with mutations for creating

    and updating departments, locations, pending hires, and employee profiles.'
  version: 1.0.0
  contact:
    name: Greenhouse Software
    url: https://www.greenhouse.com
    email: developers@greenhouse.io
servers:
- url: https://onboarding-api.greenhouse.io
  description: Onboarding GraphQL endpoint host.
security:
- BasicAuth: []
tags:
- name: Graph QL
  description: Single GraphQL endpoint for all Onboarding operations.
paths:
  /graphql/introspection:
    get:
      tags:
      - Graph QL
      summary: Onboarding GraphQL Schema (Documentation Pointer)
      description: 'GraphQL schema is discovered via introspection by POSTing a standard introspection

        query to /graphql. This path is documentation-only and not an additional HTTP route.'
      operationId: getOnboardingIntrospectionDocs
      responses:
        '200':
          description: See documentation.
  /graphql:
    post:
      summary: Execute GraphQL query or mutation
      description: Single GraphQL endpoint supporting employee, employees, department, departments, location, locations, customField, customFields, team, teams, and rateLimit queries; and mutations including updateEmployeeProfile, addPendingHire, addDepartment, updateDepartment, deleteDepartment, addLocation, updateLocation, and deleteLocation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        '200':
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
      tags:
      - Graph QL
      operationId: postGraphql
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Onboarding Access Key as username and Secret Key as password.
    basicAuth:
      type: http
      scheme: basic
