openapi: 3.2.0
info:
  title: Greenhouse Jobs API
  version: '1.0'
  description: 'Operations tagged Jobs across 3 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-ingestion-openapi.yml, greenhouse-job-board-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://api.greenhouse.io/v1/partner
  description: Production
- url: https://boards-api.greenhouse.io/v1/boards/{board_token}
  description: Production
  variables:
    board_token:
      default: example
      description: The board token issued by Greenhouse for the organization.
tags:
- name: Jobs
paths:
  /jobs:
    get:
      tags:
      - Jobs
      summary: List jobs
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A list of jobs
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /jobs/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Jobs
      summary: Retrieve job
      responses:
        '200':
          description: A job
      security:
      - basicAuth: []
    patch:
      tags:
      - Jobs
      summary: Update job
      responses:
        '200':
          description: Job updated
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /jobs/{job_id}:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Jobs
      summary: Retrieve job
      responses:
        '200':
          description: A job with application questions
    post:
      tags:
      - Jobs
      summary: Submit application
      description: Submit a job application using multipart form-data or JSON.
      security:
      - basicAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Application submitted
    servers:
    - url: https://boards-api.greenhouse.io/v1/boards/{board_token}
      description: Production
      variables:
        board_token:
          default: example
          description: The board token issued by Greenhouse for the organization.
components:
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 1
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.greenhouse.io/oauth/authorize
          tokenUrl: https://api.greenhouse.io/oauth/token
          scopes: {}
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-ingestion-openapi.yml
- greenhouse-job-board-openapi.yml
