openapi: 3.2.0
info:
  title: Greenhouse Departments API
  version: '1.0'
  description: 'Operations tagged Departments across 2 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-job-board-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://boards-api.greenhouse.io/v1/boards/{board_token}
  description: Production
  variables:
    board_token:
      default: example
      description: The board token issued by Greenhouse for the organization.
tags:
- name: Departments
paths:
  /departments:
    get:
      tags:
      - Departments
      summary: List departments
      responses:
        '200':
          description: A list of departments
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /departments/{department_id}:
    parameters:
    - in: path
      name: department_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Departments
      summary: Retrieve department
      responses:
        '200':
          description: Department with jobs
    servers:
    - url: https://boards-api.greenhouse.io/v1/boards/{board_token}
      description: Production
      variables:
        board_token:
          default: example
          description: The board token issued by Greenhouse for the organization.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-job-board-openapi.yml
