openapi: 3.2.0
info:
  title: Greenhouse Candidates API
  version: '1.0'
  description: 'Operations tagged Candidates across 2 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-ingestion-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://api.greenhouse.io/v1/partner
  description: Production
tags:
- name: Candidates
paths:
  /candidates:
    get:
      tags:
      - Candidates
      summary: List candidates
      description: Retrieve a paginated list of all candidates.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A list of candidates
      security:
      - basicAuth: []
    post:
      tags:
      - Candidates
      summary: Create candidate
      description: Create a new candidate record.
      responses:
        '201':
          description: Candidate created
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /candidates/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Candidates
      summary: Retrieve candidate
      responses:
        '200':
          description: A candidate
      security:
      - basicAuth: []
    patch:
      tags:
      - Candidates
      summary: Update candidate
      responses:
        '200':
          description: Candidate updated
      security:
      - basicAuth: []
    delete:
      tags:
      - Candidates
      summary: Delete candidate
      responses:
        '204':
          description: Candidate deleted
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
components:
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 1
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.greenhouse.io/oauth/authorize
          tokenUrl: https://api.greenhouse.io/oauth/token
          scopes: {}
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-ingestion-openapi.yml
