openapi: 3.0.3
info:
  title: Greenhouse Harvest Applications Jobs API
  description: The Harvest API provides programmatic access to Greenhouse Recruiting data, including candidates, applications, jobs, departments, offices, and users. Authentication uses HTTP Basic Auth with an API token.
  version: '1.0'
  contact:
    name: Greenhouse Developer Support
    url: https://developers.greenhouse.io/harvest.html
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
security:
- basicAuth: []
tags:
- name: Jobs
paths:
  /jobs:
    get:
      tags:
      - Jobs
      summary: List jobs
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A list of jobs
  /jobs/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Jobs
      summary: Retrieve job
      responses:
        '200':
          description: A job
    patch:
      tags:
      - Jobs
      summary: Update job
      responses:
        '200':
          description: Job updated
  /jobs/{job_id}:
    parameters:
    - in: path
      name: job_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Jobs
      summary: Retrieve job
      responses:
        '200':
          description: A job with application questions
    post:
      tags:
      - Jobs
      summary: Submit application
      description: Submit a job application using multipart form-data or JSON.
      security:
      - basicAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Application submitted
components:
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 1
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
