openapi: 3.2.0
info:
  title: Greenhouse Offices API
  version: '1.0'
  description: 'Operations tagged Offices across 2 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-job-board-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://boards-api.greenhouse.io/v1/boards/{board_token}
  description: Production
  variables:
    board_token:
      default: example
      description: The board token issued by Greenhouse for the organization.
tags:
- name: Offices
paths:
  /offices:
    get:
      tags:
      - Offices
      summary: List offices
      responses:
        '200':
          description: A list of offices
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /offices/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Offices
      summary: Retrieve office
      responses:
        '200':
          description: An office
      security:
      - basicAuth: []
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /offices/{office_id}:
    parameters:
    - in: path
      name: office_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Offices
      summary: Retrieve office
      responses:
        '200':
          description: Office with jobs and departments
    servers:
    - url: https://boards-api.greenhouse.io/v1/boards/{board_token}
      description: Production
      variables:
        board_token:
          default: example
          description: The board token issued by Greenhouse for the organization.
components:
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-job-board-openapi.yml
