openapi: 3.2.0
info:
  title: Greenhouse Applications API
  version: '1.0'
  description: 'Operations tagged Applications across 2 of this provider''s published API definitions: greenhouse-harvest-openapi.yml, greenhouse-applications-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
- url: https://boards-api.greenhouse.io/v1/boards/{board_token}
  description: Public Job Board API
  variables:
    board_token:
      default: example
      description: The customer's unique board token (e.g. "exampleco").
tags:
- name: Applications
paths:
  /applications:
    get:
      tags:
      - Applications
      summary: List applications
      parameters:
      - in: query
        name: job_id
        schema:
          type: integer
      - in: query
        name: status
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A list of applications
      security:
      - basicAuth: []
      operationId: getApplications
      x-operation-id-source: derived
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /applications/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Applications
      summary: Retrieve application
      responses:
        '200':
          description: An application
      security:
      - basicAuth: []
      operationId: getApplicationsById
      x-operation-id-source: derived
    patch:
      tags:
      - Applications
      summary: Update application
      responses:
        '200':
          description: Application updated
      security:
      - basicAuth: []
      operationId: patchApplicationsById
      x-operation-id-source: derived
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    delete:
      tags:
      - Applications
      summary: Delete Application
      operationId: deleteApplication
      parameters:
      - $ref: '#/components/parameters/OnBehalfOf'
      responses:
        '204':
          description: Deleted.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/advance:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Advance application
      responses:
        '200':
          description: Application advanced
      security:
      - basicAuth: []
      operationId: postApplicationsByIdAdvance
      x-operation-id-source: derived
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /applications/{id}/hire:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Hire application
      responses:
        '200':
          description: Application hired
      security:
      - basicAuth: []
      operationId: postApplicationsByIdHire
      x-operation-id-source: derived
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production
  /applications/{id}/reject:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Reject application
      responses:
        '200':
          description: Application rejected
      security:
      - basicAuth: []
      operationId: postApplicationsByIdReject
      x-operation-id-source: derived
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    patch:
      tags:
      - Applications
      summary: Update Rejection
      operationId: updateApplicationRejection
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rejection_reason_id:
                  type: integer
                notes:
                  type: string
      responses:
        '200':
          description: Updated rejection.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /candidates/{id}/applications:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    post:
      tags:
      - Applications
      summary: Add Application to Candidate
      operationId: addCandidateApplication
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreate'
      responses:
        '201':
          description: Created application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/move:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    post:
      tags:
      - Applications
      summary: Move Application
      description: Move the application to a specific stage.
      operationId: moveApplication
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from_stage_id
              - to_stage_id
              properties:
                from_stage_id:
                  type: integer
                to_stage_id:
                  type: integer
      responses:
        '200':
          description: Moved.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/transfer_to_job:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    post:
      tags:
      - Applications
      summary: Transfer Application To Job
      operationId: transferApplicationToJob
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - new_job_id
              properties:
                new_job_id:
                  type: integer
                new_job_stage_id:
                  type: integer
      responses:
        '200':
          description: Transferred.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/convert_prospect:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    patch:
      tags:
      - Applications
      summary: Convert Prospect To Candidate
      operationId: convertProspect
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: integer
                job_stage_id:
                  type: integer
      responses:
        '200':
          description: Converted.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/attachments:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    post:
      tags:
      - Applications
      summary: Add Application Attachment
      operationId: addApplicationAttachment
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
      responses:
        '201':
          description: Attached.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /applications/{id}/unreject:
    servers:
    - url: https://harvest.greenhouse.io/v1
      description: Production Harvest API
    post:
      tags:
      - Applications
      summary: Unreject Application
      operationId: unrejectApplication
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OnBehalfOf'
      responses:
        '200':
          description: Unrejected.
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - BasicAuth: []
  /jobs/{id}:
    servers:
    - url: https://boards-api.greenhouse.io/v1/boards/{board_token}
      description: Public Job Board API
      variables:
        board_token:
          default: example
          description: The customer's unique board token (e.g. "exampleco").
    post:
      tags:
      - Applications
      summary: Submit Application
      description: Submit a candidate application to a job posting. Accepts multipart/form-data or JSON. Requires Basic auth.
      operationId: submitApplication
      security:
      - BasicAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationSubmission'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicationSubmission'
      responses:
        '200':
          description: Application accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
components:
  parameters:
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        default: 100
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 1
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    OnBehalfOf:
      name: On-Behalf-Of
      in: header
      required: false
      description: The ID of the Greenhouse user the request is being made on behalf of.
      schema:
        type: integer
  responses:
    ErrorResponse:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    UserRef:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        employee_id:
          type: string
          nullable: true
    ApplicationSubmission:
      type: object
      required:
      - first_name
      - last_name
      - email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        location:
          type: string
          description: City, State / Country.
        resume_text:
          type: string
        resume_text_file:
          type: string
          description: Base64-encoded resume file content.
        resume_content_filename:
          type: string
        resume_content_type:
          type: string
        cover_letter_text:
          type: string
        cover_letter_content:
          type: string
          description: Base64-encoded cover letter.
        cover_letter_content_filename:
          type: string
        question_id:
          type: string
          description: Greenhouse-defined custom question identifiers; multiple entries allowed.
    ApplicationCreate:
      type: object
      required:
      - job_id
      properties:
        job_id:
          type: integer
        source_id:
          type: integer
        initial_stage_id:
          type: integer
        referrer:
          type: object
          properties:
            type:
              type: string
              enum:
              - outside
              - id
              - email
            value:
              type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    Attachment:
      type: object
      required:
      - filename
      - type
      properties:
        filename:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
          enum:
          - resume
          - cover_letter
          - admin_only
          - public
          - offer_letter
          - take_home_test
          - offer_packet
        content:
          type: string
          description: Base64 file content.
        content_type:
          type: string
    Application:
      type: object
      properties:
        id:
          type: integer
        candidate_id:
          type: integer
        prospect:
          type: boolean
        applied_at:
          type: string
          format: date-time
        rejected_at:
          type: string
          format: date-time
          nullable: true
        last_activity_at:
          type: string
          format: date-time
        location:
          type: object
          properties:
            address:
              type: string
        source:
          type: object
          properties:
            id:
              type: integer
            public_name:
              type: string
        credited_to:
          $ref: '#/components/schemas/UserRef'
        rejection_reason:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
        rejection_details:
          type: object
          nullable: true
        jobs:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        job_post_id:
          type: integer
          nullable: true
        status:
          type: string
          enum:
          - active
          - rejected
          - hired
          - converted
        current_stage:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        answers:
          type: array
          items:
            type: object
            properties:
              question:
                type: string
              answer:
                type: string
        custom_fields:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with the Harvest API key as the username and an empty password (Base64 encoded).
x-refined-from:
- greenhouse-harvest-openapi.yml
- greenhouse-applications-api-openapi.yml
