openapi: 3.0.3
info:
  title: Greenhouse Harvest Applications API
  description: The Harvest API provides programmatic access to Greenhouse Recruiting data, including candidates, applications, jobs, departments, offices, and users. Authentication uses HTTP Basic Auth with an API token.
  version: '1.0'
  contact:
    name: Greenhouse Developer Support
    url: https://developers.greenhouse.io/harvest.html
servers:
- url: https://harvest.greenhouse.io/v1
  description: Production
security:
- basicAuth: []
tags:
- name: Applications
paths:
  /applications:
    get:
      tags:
      - Applications
      summary: List applications
      parameters:
      - in: query
        name: job_id
        schema:
          type: integer
      - in: query
        name: status
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A list of applications
  /applications/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Applications
      summary: Retrieve application
      responses:
        '200':
          description: An application
    patch:
      tags:
      - Applications
      summary: Update application
      responses:
        '200':
          description: Application updated
  /applications/{id}/advance:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Advance application
      responses:
        '200':
          description: Application advanced
  /applications/{id}/hire:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Hire application
      responses:
        '200':
          description: Application hired
  /applications/{id}/reject:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Applications
      summary: Reject application
      responses:
        '200':
          description: Application rejected
components:
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 1
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
